.App {
  text-align: center;
  background-color: rgb(45, 44, 44);
  color: rgb(255, 255, 255);
  min-height: 100vh;
}

/* .footer {
  background-color: rgb(70, 138, 197);
} */

/* .header {
  background-color: rgb(248, 174, 85);
}

#tutor{
  background-color: rgb(244, 141, 17);
} */