.App {
  text-align: center;
  /* color: rgb(255, 255, 255); */
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-wrap: wrap;
  padding: 14px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: rgb(105, 105, 228);
  color: white;
  padding: 5px;
  margin: 5px;
  font-size: x-large;
}

.heading{
  color: black;
  font-size: 70px;
}

/* .footer {
  background-color: rgb(70, 138, 197);
} */

 .header {
    width: 100%;
    height: 3em;
    text-align: center;
    background-color: #9cb2f4;
    padding: 8px 0px 8px 0px;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    
}

h1{
  margin: 0;
}

/* #tutor{
  background-color: rgb(244, 141, 17);
}  */

.data {
  display: flex;
  /* width: 100%; */
  justify-content: space-between;
  padding: 5px;

}

.iconName{
  display: flex;
  justify-content: space-between;
  background-color: aquamarine;
}